.input {
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 10px;
}

.input::placeholder {
  opacity: 0.4;
}
.input:focus {
  background-color: rgb(231, 231, 231);
}

.form {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}
